// _article.scss

/*
### ------------- ###
### begin article ###
### ------------- ###
*/

.cover-credits {
    font-family: $font-family-body;
    color: $color-gray;

    span {
        display: block;
        font-size: 0.75em;
        opacity: 0.5;
    }
}

.article-pq-container {
    display: block;
    padding: 5px 10px;

    p {
        font-family: $font-family-headline;
        font-size: 1.5em;
        line-height: 1.25em;

        @include mxn-gradient-animation(270deg, $color-rust, $color-teal, $color-red);
        background-size: 1000% 1000%;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        font-weight: 900;
        text-align: center;

        &:before {
            content: '"';
            font-family: $font-family-headline;
            font-size: 5em;
            position: absolute;
            font-weight: 900;
        }
    }
}

/*
### ----------- ###
### end article ###
### ----------- ###
*/