// _main-variables.scss

/*
### ------------- ###
### begin article ###
### ------------- ###
*/

.cover-credits {
    font-family: $font-family-body;
    color: $color-gray;

    span {
        display: block;
        font-size: 0.75em;
    }
}

/*
### ----------- ###
### end article ###
### ----------- ###
*/