/* global_styles.css --------------------------------------------------------*/
/* last updated 2018-03-11 */
/* --------------------------------------------------------------------------*/

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {}

