// _article.scss

/*
### ----------- ###
### begin about ###
### ----------- ###
*/

.toolbox,
.work-history,
.education {
    width: 100%;
    text-align: center;
    vertical-align: top;

    h2 {
        font-weight: 700;
        margin: 2em 0 -1em 0;
    }

    h3 {
        margin: 2em 0 0 0;
    }

    h2,
    h3 {
        text-align: inherit;
    }

    div {
        vertical-align: inherit;
    }

    div[class^="toolbox-"] {
        display: inline-block;
        width: 40%;
        margin: 0 2.5%;
    }

    ul {

        li {
            position: relative;
            margin: 8px 0;
            background: $color-navy;
            color: $color-white;
            border-radius: 2px;
            overflow: hidden;

            transition: 0.333s ease all;

            &:before {
                content: '';
            }

            &:hover {
                color: $color-navy;
                transform: translateY(0px);

                &:after {
                    top: 0;
                }

            }

            &:after {
                content: ' ';
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 100%;
                background: $color-red;
                top: 100%;
                left: 0;
                transition: inherit;
            }

        }
    }


    .experience {
        display: block;
        position: relative;
        text-align: center;
        background: $color-lightgray;
        padding: 0 0.5em 0.5em 0.5em;
        margin-top: 2.5em;
        border: 1px solid $color-darkgray;
        border-radius: 2px;
        box-shadow: 4px 2px 8px $color-darkgray;
        transition: 0.333s ease all;

        .experience-location {
            display: block;
            position: relative;
            overflow: hidden;
            color: $color-navy;
            transition: 0.333s ease all;

            &:after {
                content: attr(data-alt);
                color: $color-red;
                position: absolute;
                display: block;
                width: 100%;
                text-align: center;
                top: 0;
                transform: rotateX(90deg);
                transition: inherit;
            }
        }

        .experience-position {
            display: block;
            color: $color-darkgray;
            overflow: hidden;

            &:before {
                content: '+ ';
                font-weight: 700;
                color: $color-red;
            }

            .experience-time {
                display: block;
                font-size: 0.75em;
                line-height: 0.75em;
                color: $color-darkgray;
                margin: 0 0 0.75em 0;
            }

            .experience-more {
                display: block;
                max-height: 0em;
                line-height: 0em;
                font-size: 0em;
                
                transition-property: max-height, line-height, font-size;
                transition-duration: 0.333s, 0.333s, 0.333s;
                transition-delay: 0s, 0s, 0s;
                transition-timing-function: ease, ease, ease;
            }
        }

        &:hover {
            cursor: pointer;
            transform: translateY(-3px);
            box-shadow: 6px 4px 12px $color-darkgray;

            .experience-location {

                &:after {
                    z-index: 1;
                    transform: rotateX(0deg);
                }
            }
        }

        &.active {
            .experience-position {

                .experience-more {
                    max-height: 999em;
                    line-height: inherit;
                    font-size: inherit;
                }
            }
        }
    }

}

/*
### --------- ###
### end about ###
### --------- ###
*/