// _article.scss

/*
### ------------- ###
### begin article ###
### ------------- ###
*/

/*
### ------------------ ###
### BEGIN POST ENTRIES ###
### ------------------ ###
*/

.container {
    position: relative;

    .post {
        padding: 4em 0;
        position: relative;
        padding-top: 2em;
        z-index: 10;

        &:after {
            position: absolute;
            width: 32em;
            height: 1px;
            left: 50%;
            bottom: 0;
            margin-left: -16em;
            content: '';
            background: $color-lightgray;
        }

        &.featured {
            .post-title {
                &:after {
                    position: absolute;
                    width: 1em;
                    height: 1em;
                    left: -1.75em;
                    top: 0;
                    margin-top: -0.25em;
                    font-family: 'icons';
                    font-size: 0.5em;
                    font-style: normal;
                    font-weight: normal;
                    content: '\e800';
                    color: inherit;
                    text-align: center;
                    color: $color-lightgray;
                }
            }
        }

        &.page {
            padding-bottom: 4em;
        }
    }

}

.page-template {
    #footer {
        &:after {
            position: absolute;
            width: 32em;
            height: 1px;
            left: 50%;
            top: 0;
            margin-left: -16em;
            content: '';
            background: $color-lightgray;
        }
    }
}

#post-header {
    position: relative;
    padding-top: 6em;

    &.has-cover {
        padding: 16em 0 2em;
        background: $color-darkgray;
        overflow: hidden;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
}

.post-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5;
    background: no-repeat scroll center center/cover $color-darkgray;
    animation: 0.5s ease-in forwards fadein;
    
    &:after {
        position: absolute;
        width: 100%;
        height: 12em;
        left: 0;
        bottom: 0;
        z-index: 8;
        content: '';
        background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    }
}

.post-title {
    position: relative;
    z-index: 10;
    margin: 0 0 0.5em;
    font-size: 2em;
    line-height: 1em;
    font-weight: 700;
    text-indent: -1px;
    color: $color-darkgray;

    a {
        text-decoration: none;
        color: inherit;
        font-weight: inherit;
    }
}

.has-cover {
    .post-title {
        color: $color-white;
    }

    .post-meta {
        color: $color-white;
        opacity: 0.75;
    }
}

.post-meta {
    position: relative;
    z-index: 10;
    display: block;
    margin-bottom: 1.333em;
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.75em;
    font-weight: 400;
    line-height: 1.333em;
    opacity: 0.5;

    a {
        color: inherit;
        text-decoration: none;
        border-bottom: 1px solid transparent;

        &:hover {
            border-color: rgba(0, 0, 0, 0.5);
        }
        &:focus {
            border-color: rgba(0, 0, 0, 0.5);
        }
    }
}

.post-excerpt p {
    margin: 0;
}

.post-content {

    text-align: left;

    a {
        &:not(.an-link) {
            background: $color-lightgray;
            color: inherit;
            text-decoration: underline;

            &:hover,
            &:focus {
                color: $color-rust;
            }
        }
        
        .an-link {
            @include mxn-link-animation(inherit, $color-red, $color-darkgray);
            &:hover,
            &:focus {
                text-decoration: none;
                color: $color-rust;
            }
        }
    }

    img {
        max-width: none;
        width: 110%;
        margin-left: -5%;
    }

    .fluid-width-video-wrapper {
        max-width: none;
        width: 110%;
        margin-left: -5%;
    }

    .highlight {
        font-size: 62.5%;

        pre {
            overflow: scroll;
        }
    }
}

.post-info {
    margin-top: 6em;
    overflow: hidden;
}

.post-share {
    max-width: 25%;
    float: right;

    a {
        display: block;
        width: 2em;
        height: 2em;
        margin: 0.333em 0 0.333em 0.666em;
        padding: 0;
        float: left;
        font-size: 0.75em;
        line-height: 2em;
        text-align: center;
        text-decoration: none;
        color: $color-white;
        border-radius: 2px;
        transition: all ease 0.3s;

        &:hover {
            background-color: $color-darkgray;
        }
        &:focus {
            background-color: $color-darkgray;
        }

        i {
            color: inherit;

            &:before {
                width: auto;
                height: auto;
            }
        }
    }

    .twitter {
        background-color: #3ea9dd;
    }

    .facebook {
        background-color: #3c5a98;
    }

    .googleplus {
        background-color: #d14836;
    }
}


.post-tags {
    max-width: 75%;
    float: left;
    font-family: 'Fira Sans', sans-serif;

    a {
        display: inline-block;
        margin: 0 0.333em 0.666em 0;
        padding: 0.575em 1em;
        background: $color-white;
        border: 1px solid $color-rust;
        font-size: 0.75em;
        font-weight: 500;
        line-height: 1.333em;
        text-align: center;
        text-decoration: none;
        color: $color-rust;
        border-radius: 2em;
        transition: all ease 0.3s;
        box-sizing: border-box;

        &:hover {
            background: $color-rust;
            color: $color-white;            
        }
        &:focus {
            background: $color-rust;
            color: $color-white;
        }
    }
}

.post-author {
    position: relative;
    margin: 2em 0 0;
    padding: 2em 0;
    z-index: 10;
    border-top: 1px solid $color-lightgray;
    border-bottom: 1px solid $color-lightgray;
    clear: both;
}

.post-author-avatar {
    position: relative;
    float: left;
    width: 15%;
    margin: -0.5em 0 0 5%;
    overflow: hidden;
    background: $color-white;
    border-radius: 10em;
    box-sizing: border-box;

    img {
        width: 100%;
        margin: auto;
        border-radius: 10em;
        box-sizing: border-box;
    }
}


.post-author-bio {
    padding-left: 25%;
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.75em;
    line-height: 1.333em;

    span {
        position: relative;
        font-size: 0.8em;
        display: inline-block;
        margin-top: 1.25em;
        margin-right: 1.25em;
        font-weight: 400;
        opacity: 0.5;        
    }

    i {
        color: inherit;
    }

    a {
        color: inherit;
        text-decoration: none;
        font-weight: inherit;
        border-bottom: 1px solid transparent;        
    }
}

.post-author-name {
    margin: 0;
    padding: 0;
    font-size: 1.333em;
    line-height: 1em;
    text-indent: inherit;
}

.post-author-about {
    margin: 0.666em 0;
}


.post-comments {
    position: relative;
    padding: 2em 0;
    text-align: center;
    border-bottom: 1px solid $color-lightgray;
    box-sizing: border-box;

    &.activated {
        margin: -1px 0 0;
        padding: 1em;
        background: $color-lightgray;
        border: 1px solid $color-darkgray;

        #disqus_thread {
            display: inherit;
            visibility: visible;
        }
    }

    #disqus_thread {
        display: none;
        visibility: hidden;
    }
}

.post-comments-activate {
    display: inline-block;
    margin: 0;
    padding: 0.5em 1.25em;
    border: 1px solid $color-lightgray;
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.75em;
    line-height: 1.333em;
    color: $color-lightgray;
    text-align: center;
    cursor: pointer;
    transition: all ease 0.3s;
    border-radius: 2em;

    &:hover {
        color: $color-rust;
        border-color: $color-rust;
    }
    &:focus {
        color: $color-rust;
        border-color: $color-rust;
    }
}

.activated .post-comments-activate {
    display: none;
    visibility: hidden;
}

.post-nav {
    position: relative;
    border-bottom: 1px solid $color-lightgray;

    &:after {
        position: absolute;
        content: '';
        width: 1px;
        height: 100%;
        left: 50%;
        top: 0;
        background: $color-lightgray;
        z-index: 2;
    }

    i {
        position: absolute;
        top: 50%;
        width: 2em;
        height: 2em;
        margin-top: -1em;
        font-size: 2em;
        line-height: 2em;
        text-align: center;
        transition: all ease-out 0.3s;
        color: $color-lightgray;        
    }

    a {
        &:hover {
            i {
                color: $color-rust;
            }
        }
        &:focus {
            i {
                color: $color-rust;
            }
        }
    }
}

.post-nav-next,
.post-nav-prev {
    display: block;
    width: 50%;
}

.post-nav-next {
    float: left;

    i {
        left: 0;
        margin-left: -1.75em;        
    }
}

.post-nav-prev {
    float: right;

    i {
        right: 0;
        margin-right: -1.75em;
    }
}

.post-nav-teaser {
    padding: 1.5em 1em;
    min-height: 6em;

    .post-nav-text {
        display: block;
        margin: auto auto;
        padding: 0.5em 0.25em;
        background: rgba(255, 255, 255, 0.625);
        color: inherit;
    }
}

.post-nav-title {
    margin: 0 0 0.5em;
    padding: 0;
    font-size: 1em;
    line-height: 1em;
    color: inherit;
}

.post-nav-excerpt {
    margin: 0;
    font-size: 0.75em;
    line-height: 1.333em;
}

/*
### ---------------- ###
### END POST ENTRIES ###
### ---------------- ###
*/

/*
### ------------------ ###
### begin progress bar ###
### ------------------ ###
*/

.progress-container {
    position: fixed;
    width: 100%;
    height: 4px;
    left: 0;
    top: 0;
    z-index: 1000;
    background: transparent;
    transition: opacity ease-out 1s;
  }
  
  .progress-container.ready {
    opacity: 0.2;
  }
  
  .progress-bar {
    display: block;
    width: 0;
    height: 2px;
    background: $color-red;
    box-shadow: 0 0 1px $color-red, 0 0 3px $color-red;
  }
  
/*
### ---------------- ###
### end progress bar ###
### ---------------- ###
*/

/* 
### ------------------------------ ###
### begin article markdown classes ###
### ------------------------------ ###
*/
.cover-credits {
    font-family: $font-family-body;
    color: $color-darkgray;

    span {
        display: block;
        font-size: 0.75em;
        opacity: 0.5;
    }
}

.article-content-container {
    text-align: center;

    &:before {
        content: "";
        display: block;
        position: relative;
        width: 50%;
        height: 5px;
        background: $color-lightgray;
        margin: auto auto;
    }
    &:after {
        content: "";
        display: block;
        position: relative;
        width: 50%;
        height: 5px;
        background: $color-lightgray;
        margin: auto auto;
    }

    &.an-grad {
        @include mxn-gradient-animation(270deg, $color-rust, $color-teal, $color-red, $color-navy);
        background-size: 1000% 1000%;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        font-weight: 900;
        text-align: center;
    }
}

.article-pq-container {
    display: block;
    padding: 5px 10px;

    p {
        font-family: $font-family-headline;
        font-size: 1.5em;
        line-height: 1.25em;
    }
}

.article-image-container {
    display: block;
    text-align: center;
    
    img {
        margin-top: 2.5em;
        margin-bottom: 0.5em;
    }

    p {
        font-family: $font-family-body;
        font-size: 0.75em;
        color: $color-darkgray;
    }
}

/* 
### ---------------------------- ###
### end article markdown classes ###
### ---------------------------- ###
*/

/*
### -------------------------------- ###
### begin simple_footnotes overrides ###
### -------------------------------- ###
*/
a.simple-footnote[href^="#sf"] {
    border-bottom: 0px !important;
  
    &:before {
      border-bottom: 0px !important;
    }
    &:after {
      border-bottom: 0px !important;
    }
  }
/*
### ------------------------------ ###
### end simple_footnotes overrides ###
### ------------------------------ ###
*/

/*
### ----------- ###
### end article ###
### ----------- ###
*/