// _main-mixins.scss

/* 
### ------------ ###
### begin mixins ###
### ------------ ###
*/
@mixin mxn-text-size-adjust($val) {
    text-size-adjust: $val;
    -ms-text-size-adjust: $val;
    -webkit-text-size-adjust: $val;
}

@mixin mxn-gradient-animation($angle, $color1, $color2, $color3, $color4) {
        background: linear-gradient($angle, $color1, $color2, $color3, $color4);
        background-size: 600% 600%;
        -webkit-animation: gradient-animation 15s cubic-bezier(0.4, 0, 1, 1) infinite;
        -moz-animation: gradient-animation 15s cubic-bezier(0.4, 0, 1, 1) infinite;
        animation: gradient-animation 15s cubic-bezier(0.4, 0, 1, 1) infinite;

        @-webkit-keyframes gradient-animation {
            0%{background-position:0% 50%;}
            50%{background-position:100% 50%;}
            100%{background-position:0% 50%;}
        }
        @-moz-keyframes gradient-animation {
            0%{background-position:0% 50%;}
            50%{background-position:100% 50%;}
            100%{background-position:0% 50%;}
        }
        @keyframes gradient-animation { 
            0%{background-position:0% 50%;}
            50%{background-position:100% 50%;}
            100%{background-position:0% 50%;}
        }
}

@mixin mxn-link-animation($text-color, $line-color-passive, $line-color-active) {
    position: relative;
    color: $text-color;
    padding-bottom: 0.125em;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-bottom: 2px solid $line-color-passive;
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0 50%;
        -moz-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
        -o-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition: transform 333ms ease-in-out;
        -moz-transition: transform 333ms ease-in-out;
        -o-transition: transform 333ms ease-in-out;
        -ms-transition: transform 333ms ease-in-out;
        transition: transform 333ms ease-in-out;
        -webkit-transition-delay: 333ms;
        -moz-transition-delay: 333ms;
        -ms-transition-delay: 333ms;
        transition-delay: 333ms;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-bottom: 2px solid $line-color-active;
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        -moz-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
        -o-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition: transform 333ms ease-in-out;
        -moz-transition: transform 333ms ease-in-out;
        -o-transition: transform 333ms ease-in-out;
        -ms-transition: transform 333ms ease-in-out;
        transition: transform 333ms ease-in-out;
        -webkit-transition-delay: 333ms;
        -moz-transition-delay: 333ms;
        -o-transition-delay: 333ms;
        -webkit-transition-delay: 0ms;
        -moz-transition-delay: 0ms;
        -ms-transition-delay: 0ms;
        -o-transition-delay: 0ms;
        transition-delay: 0ms;
    }

    &:hover {
        color: inherit !important;
        text-decoration: none !important;

        &:before {
            -webkit-transform: scaleX(0);
            -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
            -o-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition-delay: 0ms;
            -moz-transition-delay: 0ms;
            -ms-transition-delay: 0ms;
            -o-transition-delay: 0ms;
            transition-delay: 0ms;
        }

        &:after {
            -webkit-transform: scaleX(1);
            -moz-transform: scaleX(1);
            -ms-transform: scaleX(1);
            -o-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transition-delay: 333ms;
            -moz-transition-delay: 333ms;
            -ms-transition-delay: 333ms;
            -o-transition-delay: 333ms;
            transition-delay: 333ms;
        }
    }
}

// Magic parallax mixins
// https://codepen.io/scottkellum/pen/bHEcA

$parallax-perspective : 1 !default;
$parallax-element     : "body" !default;
$parallax-ios         : true !default;

@mixin parallax-init(
  $perspective  : $parallax-perspective,
  $element      : $parallax-element,
  $parallax-ios : $parallax-ios
  ) {
  @if $element == "body" {
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  }
  #{$element} {
    overflow: auto;
    perspective: $perspective * 1px;
    transform-style: preserve-3d;
    // Allows for smooth scrolling but disables parallax effects.
    @if $parallax-ios == false {
      -webkit-overflow-scrolling: touch;
    }
    // Preserve 3D
    &, * {
      transform-style: preserve-3d;
    }
  }
}

@mixin parallax(
  $distance    : 0,
  $perspective : $parallax-perspective
  ) {
  transform:
    translateZ($distance * $perspective * 1px)
    scale(abs($distance - 1))
  ;
  z-index: $distance * 1000;
}

// usage:
//@include parallax-init; // must run this initially to init
//@include parallax(.15); // add this mix-in to elements to create parallax effect
// have to also rework theme parallax js on cover photos

// End of magic parallax mixins

/* 
### ---------- ###
### end mixins ###
### ---------- ###
*/