// _main-variables.scss

/*
### ------------ ###
### begin colors ###
### ------------ ###
*/
$color-white           : #fff;
$color-darkgray        : #484A47;
$color-lightgray       : #D9DBDE;
$color-teal            : #5C6D70;
$color-navy            : #000145;
$color-rust            : #815350;
$color-red             : #E88873;
/*
### ---------- ###
### end colors ###
### ---------- ###
*/

/*
### ----------- ###
### begin fonts ###
### ----------- ###
*/

/* imports */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i');

/* font families */
$font-family-headline  : 'Open Sans', Helvetica, Arial, Verdana, sans-serif;
$font-family-body      : 'Raleway', Verdana, Arial, Helvetica, sans-serif;

/* font sizes */
$font-size-headline    : 36px;
$font-size-body        : 18px;

/* font weights */
$font-weight-headline  : 700px;
$font-weight-body      : 500px;

/*
### --------- ###
### end fonts ###
### --------- ###
*/

/*
### --------- ###
### begin nav ###
### --------- ###
*/

$nav-z: 1001;

/*
### --------- ###
### end nav ###
### --------- ###
*/