// _hero.scss

#blog-header {
    display: block;
    position: relative;
    text-align: center;

    &.has-cover {
        padding: 9em 0 10em;
        background: $color-darkgray;
        overflow: hidden;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .blog-name {
        font-family: $font-family-headline;
        font-size: $font-size-headline;
        color: $color-rust;

        a {
            font-family: $font-family-headline;
            font-size: 48px;
            color: $color-lightgray;
        }
    }

    .blog-description {
        font-size: 18px;
        color: $color-lightgray;
    }
}

#about-intro {
    h1 {
        display: block;
        position: relative;
        padding: 25px 10px;
        text-align: center;
        font-family: $font-family-headline;
        font-size: $font-size-headline;
    }
    span {
        display: block;
        position: relative;
        padding: 5px 10px;
        text-align: left;
        font-family: $font-family-body;
        font-size: $font-size-body;
    }
}